{% extends "base.html" %}
{% load static %}
{% block title %}International Freight : Couriermailingworldwide | Express Delivery, Courier &amp; Shipping Services | Worlwide{% endblock %}

{% block content %}

<!-- Start of Breadcrumb section
	============================================= -->
	<section id="ft-breadcrumb" class="ft-breadcrumb-section position-relative" data-background="{% static "img/bg/bread-bg.jpg" %}">
		<span class="background_overlay"></span>
		<span class="design-shape position-absolute"><img src="{% static "img/shape/tmd-sh.html" %}" alt=""></span>
		<div class="container">
			<div class="ft-breadcrumb-content headline text-center position-relative">
				<h2> International Freight</h2>
				<div class="ft-breadcrumb-list ul-li">
					<ul>
						<li><a href="{% url "index" %}">Home</a></li>
						<li> International Freight</li>
					</ul>
				</div>
			</div>
		</div>
	</section>	
<!-- End of Breadcrumb section
	============================================= -->


	
	
	
	<!-- Tracking Section -->
		<section class="ft1-tracking-section">
			<div class="auto-container">
				<div class="inner-container">
					<div class="row clearfix">
						<!-- Tracking Column -->
						<div class="tracking-column col-lg-7 col-md-12 col-sm-12">
							<div class="inner-column">
								<!-- Tracking Form -->
								<div class="tracking-form">
									<form method="post" class="search-form" id="frmTrack" name="frmTrack" action="#"
									onsubmit="return false">
									<div class="form-group">
										<input type="search" id="shipment_tracking_no" name="shipment_tracking_no"
											value="" placeholder="Enter Your Tracking Number" required>
										<button class="theme-btn btn-style-two" name="submitTrackNo"
												onclick="trackNowFunc()">Track & Trace <span
												class="icon fas fa-angle-double-right"></span></button>
									</div>
								</form>

								{% comment %} <div id="loadingPop" style="display:none;">Loading...</div> {% endcomment %}
								</div>
							</div>
						</div>
						
						
						
						
						
						<!-- Featured Column -->
						<div class="featured-column col-lg-5 col-md-12 col-sm-12">
							<div class="inner-column">
								<div class="row clearfix">
								
									<!-- Feature Block -->
									<div class="feature-block col-lg-6 col-md-6 col-sm-12">
										<div class="inner-box">
											<div class="icon flaticon-discount"></div>
											<h6>Affordable Premium Shipping!</h6>
										</div>
									</div>
									
									<!-- Feature Block -->
									<div class="feature-block col-lg-6 col-md-6 col-sm-12">
										<div class="inner-box">
											<div class="icon flaticon-shield-2"></div>
											<h6>Safe & Reliable <br> Courier Services!</h6>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Tracking Section -->
		
	
	
	
	
	




<!-- Start of About section
	============================================= -->
	<section id="ft-thx-about-3" class="ft-thx-about-section-3">
		<div class="container">
			<div class="ft-thx-about-content-3">
				<div class="row">
					<div class="col-lg-6 wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
						<div class="ft-thx-about-img-3 position-relative">
							<div class="ft-thx-ab-shape1 position-absolute"><img src="{% static "imgs/bg/vector-1.html" %}" alt=""></div>
							<div class="ft-thx-ab-img">
								<img src="{% static "imgs/about/ab4.jpg" %}" alt="">
							</div>
							<div class="ft-thx-ab-inner-img1">
								<img src="{% static "imgs/about/ab5.jpg" %}" alt="">
							</div>
							<div class="ft-thx-ab-inner-img2">
								<img src="{% static "imgs/about/ab6.jpg" %}" alt="">
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="ft-thx-about-text-3">
							<div class="ft-thx-section-title-3 headline pera-content wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
								<h2>
 International <br>Freight?
</h2>
								
								
								
								
								<p>
								International freight shipping through couriermailingworldwide gives you options for sending shipments over 150 lbs. around the world. You can choose from air, land, and sea services that 
								deliver the right balance of price and speed for your business.
								</p>
								
								
								
								
					<br>			
								
		<p>
		 Air & Sea Freight services are available to any destination in the world. 
		 couriermailingworldwide is one of the few leading transporting company in USA 
		 who can provide all the services in the Air or Sea Freight industry 
		</p>						
								
								
								
							</div>
							
							
							
							
							
							<div class="ft-thx-about-list-item-wrapper-3">
							
							<div class="col-lg-12 col-md-12 pb-5">
							<h4 style="font-size:18px;">Benefits of Our international freight shipping:</h4>
							</div>
							
							
								<div class="ft-thx-about-list-item-3 d-flex align-items-center wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
									<div class="ft-thx-inner-icon d-flex align-items-center justify-content-center">
										<i class="flaticon-community"></i>
									</div>
									<div class="ft-thx-inner-text headline pera-content">
										<h3>YOUR BUSINESS EXPANSION</h3>
										
										<p>
										Options to help you expand your business and grow into new international markets.
										</p>
									</div>
								</div>
								
								
								
								
								
								
								<div class="ft-thx-about-list-item-3 d-flex align-items-center wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
									<div class="ft-thx-inner-icon d-flex align-items-center justify-content-center">
										<i class="flaticon-delivery-truck"></i>
									</div>
									<div class="ft-thx-inner-text headline pera-content">
										<h3>FREIGHT LANES</h3>
										<p>
										Access to international freight lanes with a focus on APAC and EU.

										</p>
									</div>
								</div>
								<div class="ft-thx-about-list-item-3 d-flex align-items-center wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
									<div class="ft-thx-inner-icon d-flex align-items-center justify-content-center">
										<i class="flaticon-train"></i>
									</div>
									<div class="ft-thx-inner-text headline pera-content">
										<h3>BEST CUSTOMER SUPPORT</h3>
										<p>A responsive, reliable, knowledgeable customer service team
</p>
									</div>
								</div>
								
								
								
								
								
								<div class="ft-thx-about-list-item-3 d-flex align-items-center wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
									<div class="ft-thx-inner-icon d-flex align-items-center justify-content-center">
										<i class="flaticon-marketing"></i>
									</div>
									<div class="ft-thx-inner-text headline pera-content">
										<h3>EASY TOOLS</h3>
										<p>
										Easy-to-use tools to guide you through shipping internationally.

										</p>
									</div>
								</div>

								
								
							</div>
							<!--
							<div class="ft-thx-btn-2">
								<a class="d-flex justify-content-center align-items-center" href="#">
								Discover More</a>
							</div>
							-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of About section
	============================================= -->	

<!-- Start of help section
	============================================= -->
	<section id="ft-thx-help" class="ft-thx-help-section position-relative">
		<div class="background_overlay"></div>
		<span class="ft-thx-help-bg position-absolute"><img src="{% static "imgs/bg/c-bg.jpg" %}" alt=""></span>
		<div class="container">
			
			
			
			
			<div class="ft-thx-help-content position-relative">
				<div class="ft-thx-section-title-3 text-center headline pera-content wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
					<span>Transportation & Distribution Solutions</span>
					
					
					
					<h2 style="font-size:16px; line-height:26px;">
					If you need bespoke transport solutions, covering managed transport, 
					oversized or heavy cargo & direct distribution - visit our solutions & special expertise page.
					</h2>
				
				
				</div>
				
				
				
				
				
				
				<div class="ft-thx-help-content-items">
					<div class="row">
						<div class="col-lg-6 wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
							<div class="ft-thx-help-item d-flex justify-content-between align-items-center">
								<div class="ft-thx-help-text headline">
									<h3 style="font-size:18px;">Reliable and hassle free. Broad range of delivery speeds and service options.</h3>
									<div class="ft-thx-btn-2">
										<a class="d-flex justify-content-center align-items-center" href="air-freight-carrier.html">
										AIR FREIGHT
										</a>
									</div>
								</div>
								<div class="ft-thx-help-img">
									<img src="{% static "img/service/ser1.jpg" %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-6 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
							<div class="ft-thx-help-item d-flex justify-content-between align-items-center">
								<div class="ft-thx-help-text headline">
									<h3 style="font-size:18px;">Right place, right time and cost efficient. Consolidation options.</h3>
									<div class="ft-thx-btn-2">
										<a class="d-flex justify-content-center align-items-center" href="ocean-freight-forwarding.html">
										OCEAN FREIGHT
										</a>
									</div>
								</div>
								<div class="ft-thx-help-img">
									<img src="{% static "img/service/ser2.jpg" %}" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of help section
	============================================= -->

<!-- Start of service section
	============================================= -->
	<section id="ft-thx-service-3" class="ft-thx-service-section-3 position-relative" data-background="{% static "imgs/bg/sr-bg.html" %}">
		<span class="ft-thx-service-shape position-absolute"><img src="{% static "imgs/bg/shape-02.png" %}" alt=""></span>
		
		
		
		
		
		
		<div class="container">
			<div class="ft-thx-section-title-3 text-center headline pera-content">
				<h2 style="font-size:22px;">Simplified  International Freight Shipping Services For All</h2>
				
				
				
				<p style="max-width:100%">
				
				With couriermailingworldwide, you can ship to virtually anywhere in the world with confidence. We can assist with the import and export of your goods, 
				from the initial quote and document preparation to tracking and delivery to the final destination.
				</p>
				
				
				
				
			</div>
			
			
			
			
			
			
			
					</div>
	</section>		





<!-- End of cta section
	============================================= -->
{% endblock %}