{% extends "base.html" %}
{% load static %}
{% block title %}Logistics : Couriermailingworldwide | Express Delivery, Courier &amp; Shipping Services | Worlwide{%endblock %}

{% block content %}

<!-- Start of Breadcrumb section
	============================================= -->
<section id="ft-breadcrumb" class="ft-breadcrumb-section position-relative"
    data-background="{% static "img/bg/bread-bg.jpg" %}">
    <span class="background_overlay"></span>
    <span class="design-shape position-absolute"><img src="{% static "img/shape/tmd-sh.html" %}" alt=""></span>
    <div class="container">
        <div class="ft-breadcrumb-content headline text-center position-relative">
            <h2>Logistics</h2>
            <div class="ft-breadcrumb-list ul-li">
                <ul>
                    <li><a href="{% url "index" %}">Home</a></li>
                    <li>Logistics</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End of Breadcrumb section
	============================================= -->











<!-- Tracking Section -->
<section class="ft1-tracking-section">
    <div class="auto-container">
        <div class="inner-container">
            <div class="row clearfix">
                <!-- Tracking Column -->
                <div class="tracking-column col-lg-7 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Tracking Form -->
                        <div class="tracking-form">
                            <form method="post" class="search-form" id="frmTrack" name="frmTrack" action="#"
									onsubmit="return false">
									<div class="form-group">
										<input type="search" id="shipment_tracking_no" name="shipment_tracking_no"
											value="" placeholder="Enter Your Tracking Number" required>
										<button class="theme-btn btn-style-two" name="submitTrackNo"
												onclick="trackNowFunc()">Track & Trace <span
												class="icon fas fa-angle-double-right"></span></button>
									</div>
								</form>

								{% comment %} <div id="loadingPop" style="display:none;">Loading...</div> {% endcomment %}
                        </div>
                    </div>
                </div>





                <!-- Featured Column -->
                <div class="featured-column col-lg-5 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="row clearfix">

                            <!-- Feature Block -->
                            <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="icon flaticon-discount"></div>
                                    <h6>Affordable Premium Shipping!</h6>
                                </div>
                            </div>

                            <!-- Feature Block -->
                            <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="icon flaticon-shield-2"></div>
                                    <h6>Safe & Reliable <br> Courier Services!</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Tracking Section -->







<section id="ft-thx-why-choose-us-3" class="ft-thx-why-choose-us-section-3">
    <div class="container">
        <div class="ft-thx-why-choose-us-content-3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ft-thx-why-choose-us-text-3">



                        <div class="ft-thx-why-choose-item-box headline" style="padding-top:0px;">






                            <div class="ft-thx-why-choose-item wow fadeInUp" data-wow-delay="100ms"
                                data-wow-duration="1500ms"
                                style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInUp; padding:20px;">

                                <h2>Logistics services</h2>

                                <p style="font-size:14px; line-height:26px; margin-top:20px;">
                                    We are a passionate group of professionals with expertise in areas ranging from
                                    transportation, customs and compliance,
                                    to distribution, legal and finance.
                                    Logistics can be a labyrinth. One question leads to three others.
                                </p>



                            </div>









                            <div class="ft-thx-why-choose-item wow fadeInUp" data-wow-delay="100ms"
                                data-wow-duration="1500ms"
                                style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInUp; padding:20px;">

                                <p style="font-size:14px; line-height:26px;">
                                    Beyond container shipping and transport solutions, we offer a comprehensive range of
                                    logistics services to secure your supply chain.

                                </p>



                            </div>






                            <div class="ft-thx-why-choose-item wow fadeInUp" data-wow-delay="200ms"
                                data-wow-duration="1500ms"
                                style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: fadeInUp; padding:20px;">


                                <p style="font-size:14px; margin-top:20px; line-height:26px;">
                                    Acting as the logistic arm of the Group, our logistics subsidiaries including CMA
                                    CGM LOG handle all your logistics
                                    challenges by providing Group customers with end-to-end solutions in synergies with
                                    liner business.
                                    Whatever your challenge, we offer you with the best-in-class solution
                                </p>

                            </div>







                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ft-thx-why-choose-img-3 position-relative wow fadeInRight" data-wow-delay="100ms"
                        data-wow-duration="1500ms"
                        style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInRight;">
                        <div class="inner-img">
                            <img src="{% static "imgs/about/ab9.jpg" %}" alt="">
                        </div>
                        <div class="inner-text">
                            10+ Years
                            Of Excellent Services
                        </div>
                        <div class="inner-img-2 position-absolute">
                            <img src="{% static "imgs/about/ab10.jpg" %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- End of Service section
	============================================= -->




<section id="ft-goodness-feature" class="ft-goodness-feature-section" data-background="{% static "img/bg/shape-bg.jpg" %}"
    style='background-image: url("{% static "img/bg/shape-bg.jpg" %}"); padding-top:60px;'>
    <div class="container">
        <div class="ft-section-title-2 headline pera-content text-center">

            <h2>Our Key transportation services include:</h2>




            <div style="text-align:left">





                <h4 style="margin-bottom:20px;">Our road Cargo services comprised of:</h4>




                <ul>

                    <li><i class="fa fa-check-circle"></i> OTR trucking</li>
                    <li><i class="fa fa-check-circle"></i> LTL trucking</li>
                    <li><i class="fa fa-check-circle"></i> Intermodal</li>
                    <li><i class="fa fa-check-circle"></i> Port drayage</li>
                    <li><i class="fa fa-check-circle"></i> Specialized services</li>
                    <li><i class="fa fa-check-circle"></i> Contract Logistics</li>
                    <li><i class="fa fa-check-circle"></i> Shipment handling</li>
                    <li><i class="fa fa-check-circle"></i> Network optimization</li>
                    <li><i class="fa fa-check-circle"></i> Distribution management</li>

                </ul>

            </div>

        </div>

    </div>
</section>


{% endblock %}