{% extends "base.html" %}
{% load static %}
{% block title %}SOC Movements : Couriermailingworldwide | Express Delivery, Courier &amp; Shipping Services | Worlwide{% endblock %}

{% block content %}

<!-- Start of Breadcrumb section
	============================================= -->
	<section id="ft-breadcrumb" class="ft-breadcrumb-section position-relative" data-background="{% static "img/bg/bread-bg.jpg" %}">
		<span class="background_overlay"></span>
		<span class="design-shape position-absolute"><img src="assets/img/shape/tmd-sh.html" alt=""></span>
		<div class="container">
			<div class="ft-breadcrumb-content headline text-center position-relative">
				<h2>SOC Movements</h2>
				<div class="ft-breadcrumb-list ul-li">
					<ul>
						<li><a href="{% url "index" %}">Home</a></li>
						<li>SOC Movements</li>
					</ul>
				</div>
			</div>
		</div>
	</section>	
<!-- End of Breadcrumb section
	============================================= -->



	
	
	
	
	
	
	
	
	<!-- Tracking Section -->
		<section class="ft1-tracking-section">
			<div class="auto-container">
				<div class="inner-container">
					<div class="row clearfix">
						<!-- Tracking Column -->
						<div class="tracking-column col-lg-7 col-md-12 col-sm-12">
							<div class="inner-column">
								<!-- Tracking Form -->
								<div class="tracking-form">
									<form method="post" class="search-form" id="frmTrack" name="frmTrack" action="#"
									onsubmit="return false">
									<div class="form-group">
										<input type="search" id="shipment_tracking_no" name="shipment_tracking_no"
											value="" placeholder="Enter Your Tracking Number" required>
										<button class="theme-btn btn-style-two" name="submitTrackNo"
												onclick="trackNowFunc()">Track & Trace <span
												class="icon fas fa-angle-double-right"></span></button>
									</div>
								</form>

								{% comment %} <div id="loadingPop" style="display:none;">Loading...</div> {% endcomment %}
								</div>
							</div>
						</div>
						
						
						
						
						
						<!-- Featured Column -->
						<div class="featured-column col-lg-5 col-md-12 col-sm-12">
							<div class="inner-column">
								<div class="row clearfix">
								
									<!-- Feature Block -->
									<div class="feature-block col-lg-6 col-md-6 col-sm-12">
										<div class="inner-box">
											<div class="icon flaticon-discount"></div>
											<h6>Affordable Premium Shipping!</h6>
										</div>
									</div>
									
									<!-- Feature Block -->
									<div class="feature-block col-lg-6 col-md-6 col-sm-12">
										<div class="inner-box">
											<div class="icon flaticon-shield-2"></div>
											<h6>Safe & Reliable <br> Courier Services!</h6>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Tracking Section -->

		
	




<section id="ft-thx-why-choose-us-3" class="ft-thx-why-choose-us-section-3">
		<div class="container">
			<div class="ft-thx-why-choose-us-content-3">
				<div class="row">
					<div class="col-lg-6">
						<div class="ft-thx-why-choose-us-text-3">
							
							
							
							<div class="ft-thx-why-choose-item-box headline" style="padding-top:0px;">
							
							
							
							
							
							
			<div class="ft-thx-why-choose-item wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInUp; padding:20px;">

        <h2>SOC Movements services</h2>
        
        <p style="font-size:13px; line-height:26px; margin-top:20px;">
         
          "Shippers owned" containers, which means that they are not owned by the actual carrier but supplied by the cargo owners (Shippers) or OTIs. 
          These may not follow the ISO standard 
          identification/certification but should be fully CSC safety approved containers.  
        </p>



								</div>
				
							
							
							
							
							
							
							
							
		<div class="ft-thx-why-choose-item wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInUp; padding:20px;">

        <p style="font-size:13px; line-height:26px;">
          They may have no registered owner code and no category identifier and have no check digit. It is advisable to follow ISO 6346 
          as the absence of a compliant identification code causes problems for both carriers and container terminals to 
          correctly identify the equipment and properly deliver the cargo, because computer systems 
          require ISO 6346 conformant naming and as such missing prefixes are invented.  
        </p>



								</div>
								
								
								
								
		

   <div class="ft-thx-why-choose-item wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: fadeInUp; padding:20px;">
									
								
<p style="font-size:13px; margin-top:20px; line-height:26px;">
  We are experienced in the import releases, timely Delivery Order Notices, collection of charges on behalf of principle, 
  delivery of containers per client's schedule, billing & collection of detention charges, remittances timely, repositioning the empty equipment regardless of type (Tank, Container, Flatrack, Reefer, Opentop etc.), make available the depots to hold them and/or find outbound cargo to utilize the empties available in stock at any port in USA. 
  Value added services for Imports & Export cargo are also available in house.  
</p>	
									
								</div>




								
								
								
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="ft-thx-why-choose-img-3 position-relative wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInRight;">
							<div class="inner-img">
								<img src="{% static "img/about/about1.jpg" %}" alt="">
							</div>
							<div class="inner-text">
								10+ Years
								Of Excellent Services
							</div>
							<div class="inner-img-2 position-absolute">
								<img src="{% static "img/about/blog_single.jpg" %}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


			
<!-- End of Service section
	============================================= -->




<section id="ft-goodness-feature" class="ft-goodness-feature-section" data-background="{% static "img/bg/shape-bg.jpg" %}" style='background-image: url("assets/img/bg/shape-bg.jpg"); padding-top:60px;'>
		<div class="container">
			<div class="ft-section-title-2 headline pera-content text-center" style="max-width:800px;">

				
				
				
				<h2 style="font-size:18px; line-height:30px;">
				
				 SOC are considered as a commodity being imported in a country and might be subject to duty/taxes. 
				 Some countries permit owner/OTI to import temporarily but to be shipped out in a specific period before 
				 they are subject to duty/taxes and this may require some customs formalities to be done upon entry. 
				</h2>
				





			</div>
			
					</div>
	</section>


{% endblock %}